.formGroup {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #7b96a7;
  h4 {
    text-align: left;
    color: #7b96a7;
  }
  div {
    text-align: left;
    margin-top: 10px;
  }
  input {
    float: right;
    &:last-child {
      float: left;
    }
  }
}
