.formGroup {  
  div {
    text-align: left;
    margin-top: 10px;
  }
  input {
    float: right;
    &:last-child {
      float: left;
    }
  }
  button {
      float: right;
      @media only screen and(max-width:420px) {
        float:left;
      }
  }
}
